html {
    box-sizing: border-box;
    height: 100%;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    min-height: 100%;
    margin: 0;
    padding-top: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
}

nav#menu {
    flex: none;
    margin: 0;
    background-color: #006600;
    width: 100%;
}
nav#menu ul, nav#position ul {
    padding: 0.5em;
    margin: 0;
}
nav#menu ul li:before {
    content: " · ";
}
nav#menu ul li:first-child:before {
    content: "";
}
nav#menu ul#pages {
    float: left;
}
nav#menu ul#lang {
    float: right;
}
nav#menu li {
    display: inline;
    color: #ffffff;
}
nav#menu a {
    color: #ffffff;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffaa;
}

nav#position {
    width: 100%;
}
nav#position ul li:before {
    content: " > ";
}
nav#position ul li:first-child:before {
    content: "";
}
nav#position li {
    display: inline;
    color: #888888;
}
nav#position a {
    color: #888888;
    text-decoration: none;
}
nav#position a:hover {
    color: #000000;
}

.content {
    flex: auto;
    width: 100%;
    max-width: 65em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1em;
    background-color: #ffffff;
}

.content_frame_tabs {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 0;
    border-radius: 15px;
}

.content_frame_tabs > ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.content_frame_tabs > ul li {
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    margin: 2px;
    background-color: #dddddd;
}
.content_frame_tabs > ul li.active {
    background-color: #006600;
    color: #ffffff;
}
.content_frame_tabs > .content_frame {
    margin-top: 0;
}
.content_frame_tabs > ul li a {
    text-decoration: none;
    color: inherit;
}

.content_frame {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8px;
    padding: 5px;
}

ul.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
ul.card li {
    background-color: #cccccd;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
ul.card li div + div {
    margin-top: 10px;
}
ul.card li div.name {
    text-align: center;
    font-weight: bold;
}
ul.card li meter {
    width: 100%;
}
ul li.wordgroup {
    background-color: #cceecc;
    border: 2px solid #aaccaa;
}
ul li.grammargroup {
    background-color: #eeddcc;
    border: 2px solid #ccbbaa;
}
ul.card div.emoji {
    font-size: 48px;
}

h1 {
    background-color: #aaaaaa;
    border-top: 2px solid #888888;
    border-bottom: 2px solid #888888;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
h1.wordgroup {
    background-color: #aaccaa;
    border-top: 2px solid #88aa88;
    border-bottom: 2px solid #88aa88;
}
h1.grammargroup {
    background-color: #ccbbaa;
    border-top: 2px solid #aa9988;
    border-bottom: 2px solid #aa9988;
}

div.lesson {
    width: 100%;
    display: flex;
    flex-flow: row;
    grid-template-columns: auto 15em;
    column-gap: 1em;
}
div.lesson div {
    flex: auto;
}
div.lesson nav {
    flex: 0 0 15em;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
div.lesson nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav.lesson ul {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
nav.lesson li {
    display: block;
}

@media (max-width: 850px) {
    div.lesson {
        flex-wrap: wrap;
    }
    div.lesson div {
        order: 2;
    }
    div.lesson nav {
        order: 1;
        flex: 0 0 100%;
    }
}

.introduce_word li {
    font-size: 300%;
    display: block;
}
.introduce_word li img {
    width: 1em;
}

.exercise_result {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 15px;
    background-color: #eeeeee;
    padding: 15px;
}
.exercise_result .correct {
    color: #008800;
}
.exercise_result .wrong {
    color: #aa0000;
}
.exercise_result .corrected {
    font-weight: bold;
    text-decoration: underline;
}

.exercise {
    width: 100%;
    margin-top : 0.5em;
    margin-bottom: 0.5em;
    border-radius: 15px;
    background-color: #eeeeee;
    padding: 15px;
}
.exercise div {
    margin: 20px;
}

.exercise .instruction {
    font-size: 150%;
}
.exercise .question {
    font-size: 300%;
}
.exercise .question a {
    color: inherit;
    text-decoration: inherit;
}
.exercise .question a:hover {
    background-color: #cccccc;
}
.exercise input[type=text] {
    border:1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 50px;
    font-size: 30px;
}

span.inconsistent {
    color: #aaaaaa;
}
div.hint {
    position: absolute;
    display: none;
    border: 1px solid black;
    padding: 5px;
    left: 50px;
    background-color: yellow;
    z-index: 1;
}
div.hint ul {
    padding: 0;
    margin: 0;
}
div.hint li {
    display: block;
}
.hint_container {
    position: relative;
}
.hint_container:hover div.hint {
    display: block;
}

div.prev_next form {
    display: inline;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    text-align: left;
    border: 2px solid #888888;
}
td {
    border: 1px solid #888888;
}
td.headline {
    border: 0;
    padding: 0;
}
tr.inflection td {
    white-space: nowrap;
}

td input[type=text], textarea {
    width: 100%;
}
td textarea {
    height: 400px;
}

div.buttonbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.buttonbar .button {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}

a {
    text-decoration: none;
    color: #3366cc;
}
a.card {
    color: inherit;
}
.button {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: #3366cc;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.button.inactive {
    background-color: #aabbcc;
}
